@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import "partials/variables";

@mixin estilo_general($justify){
    display: flex;
    align-items: center;
    justify-content: $justify;
}


.icon{
    font-size: 30px;
    color: $color_icon;
    text-decoration: none;
}

footer {
    background-color: black;
    div{
        span{ color:$color_fuente;}
        div{
            .iconos{
                @include estilo_general(space-evenly);
                text-decoration: none;
                list-style: none;
                .icon--wtp{
                   @extend .icon;
                }
                .icon--fb{
                    @extend .icon;
                }
                .icon--ig{
                    @extend .icon;
                }
            }
        }
        p{color:$color_fuente}
    }
}

.bi-whatsapp:hover{
     color: rgb(10, 184, 10);
}

.bi-facebook:hover{
   color: rgb(8, 8, 141);
}

.bi-instagram:hover{
   color: rgb(218, 33, 94);
}

span {
    font-family: $fuente_principal;
}

p {
    font-family: $fuente_principal;
}

li {
    font-family: $fuente_principal;
}

h1 {
    font-family: $fuente_principal;
}

h2 {
    font-family: $fuente_principal;
}

h3{
    font-family: $fuente_principal;
}

#imagen{
    background-image: url(../multimedia/auto.jpg);
    color: $color_fuente;
    background-repeat: no-repeat;
    background-size: contain;
}

.cliente{
    background-color: rgb(179, 115, 70);
    div{
        @include estilo_general(center);
    }
    #hotel{
        background-image: url(../multimedia/hotel.png);
        background-repeat: no-repeat;
        background-size: contain;
        a{
            @include estilo_general(center);
            color: $color_fuente;
        }
    }
    
    #agencia{
        background-image: url(../multimedia/edificios.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        a{
            @include estilo_general(center);
            color: $color_fuente;
        }
    }
    
    #particular{
        background-image: url(../multimedia/auto_blanco.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        a{
            @include estilo_general(center);
            color: $color_fuente;
        }
    }
}

.slogan {
    color: $color_fuente;
    text-align: center;
    background-color: black;
}

#serviciosUno{
    transition: all 2s;
}

#serviciosUno:hover{
    transform: scale(1.1,1.1);
}

#serviciosDos{
    transition: all 2s;
}

#serviciosDos:hover{
    transform: scale(1.1,1.1);
}

#serviciosTres{
    transition: all 2s;
}

#serviciosTres:hover{
    transform: scale(1.1,1.1);
}

#mapa{
    transition: 4s;
}

#mapa:hover{
    transform: scale(1.3,1.3);
}

@media screen and (max-width: 576px){
    div{
        margin: 10px;
    }

    #imagen{
     height: 270px;
     background-position: center top;
    }

    #hotel{
        height: 270px;
        background-image: center top;
        margin: 5px;
    }

    #agencia{
        height: 270px;
        background-image: center center;
        margin: 5px;
    }

    #particular{
        height: 270px;
        background-image: center center;
        margin: 5px;
    }

    .recepcionista{
        width: $imagenes;
    }
    #mapa{
     width: 100%;
    }

    #hs{
        width: 100%;
        height: 100;
    }

    #acuerdo{
        width: $imagenes;
        height: 270px;
    }

    #volante{
        width: $imagenes;
        height: 100x;
    }
 
 }
 
 @media only screen and (min-width: 576px){
     #imagen{
      height: 580px;
      background-position: center top;
     }

     #hotel{
      height: 580px;
      background-position: center top;
      margin: 10px;
     }

     #agencia{
      height: 580px;
      background-position: center top;
      margin: 10px;
     }

     #particular{
      height: 580px;
      background-position: center top;
      margin: 10px;
     }
 
    #mapa{
         width: max-content;
         height: 300px;
     }
 
     #hs{
         width: $imagenes;
         height: 150px;
     }
 
     #acuerdo{
         width: $imagenes;
         height: 400px;
     }
 
     #volante{
         width: $imagenes;
         height: 400px;
     }
  }
  
  main {
    @include estilo_general(center);
    flex-direction: column;
}